#jb3-layout {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#jb3-layout-vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#jb3-layout-horizontal {
    display: flex;
    height: 90%;
    resize: vertical;
    overflow: auto;
}

#jb3-posts-container {
    margin: 0;
    padding: 0;
    overflow: auto;
}

#jb3-roster {
    resize: horizontal;
    overflow: auto;
}

#jb3-post-popup {
    border: 2px solid #FFA500;
    background-color: #CCCCCC;
    position: fixed;
    top: 0px;
    right: 4px;
    padding: 2px 8px 2px 4px;
    z-index: 75;
    display: none;
}

#jb3-controls-message {
    width: 50%;
}

#jb3-controls-room {
    display: block;
}