#jb3-layout {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#jb3-layout-vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#jb3-layout-horizontal {
    display: flex;
    resize: vertical;
    overflow: auto;
    height: 100%;
}

#jb3-posts-container {
    margin: 0;
    padding: 0;
    overflow-x: visible;
    overflow-y: scroll;
    width: 100%;
}

#jb3-roster {
    resize: horizontal;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#jb3-post-popup {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 1.5em;
}

#jb3-post-popup-content {
    background-color: #CCCCCC;
}

#jb3-controls-message {
    width: 50%;
}