body {
    background-color: #FEFEFE;
}

#jb3-posts-container {
    position: fixed;
    top: 5px;
    right: 5px;
    bottom: 50px;
    left: 0px;
    overflow-y: auto;
    overflow-x: auto;
}

#jb3-posts {
    display : table;
}

.jb3-post {
    display : table-row;
}

.jb3-post-time {
    display : table-cell;
    padding-right: 10px;
    color: black;
    font-weight: bold;
}

.jb3-post-nickname {
    display : table-cell;
    padding-right: 10px;
    color: #833;
}

.jb3-post-message {
    display : table-cell;
}

#jb3-controls-message {
    width: 50%;
}

#jb3-controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 42px;
}

.jb3-cite {
    color: #5F7FBF;
}

.jb3-highlight {
    border: 1px solid #FA0 !important;
    background-color: #FFD202 !important;
}

.jb3-totoz {
    position: relative;
    font-weight: bold;
    color: #0A1;
}

.jb3-totoz img {
    display: none;
}

.jb3-totoz:hover img {
    display: inline;
    position: absolute;
    bottom: 100%;
}