<div class="jb3-fortune">
    <span class="jb3-fortune-title"><span class="jb3-fortune-time">{{format-datetime time}}</span> <a class="c-link" href="/fortunes/{{id}}">#{{id}}</a></span>
    <div class="jb3-posts">
    {{#each posts}}
        <div id="{{../id}}-{{this.id}}" data-postid="{{this.id}}" class="jb3-post">
            <span class="jb3-post-time">{{format-datetime this.time}}</span>
            <span class="jb3-post-nickname">{{{this.cleanedNickname}}}</span>
            <span class="jb3-post-message">{{{this.cleanedMessage}}}</span>
        </div>
    {{/each}}
    </div>
</div>