<!DOCTYPE html>
<html>
    <head>
        <title>jb3 fortune</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow">
        <link rel="stylesheet" type="text/css" href="/assets/common/posts.css">
        <link rel="stylesheet" type="text/css" href="/assets/fortune/fortune.css">
        <link rel="icon" type="image/png" href="/favicon.png">
    </head>
    <body>
    <div class="jb3-fortunes">
    {{#> fortunes/fortune fortune}}
        Aucune fortune trouvée.
    {{/fortune/fortune}}
    </div>
    <script src="/webjars/jquery/3.0.0/jquery.js" defer></script>
    <script src="/webjars/momentjs/2.8.3/moment.js" defer></script>
    <script src="/assets/common/common.js" defer></script>
    <script src="/assets/fortune/fortune.js" defer></script>
    </body>
</html>