.jb3-posts {
    border-spacing: 2px 1px;
}

.jb3-posts-date>time {
    border-bottom: 2px solid #adbfee;
    border-top: 1px solid #9fc5eb;
    margin: 0;
    padding: .2em;
    text-align: center;
    width: 100%;
    display: block;
    font-weight: bold;
}


.jb3-post:target {
    border: 1px solid #FFD202;
    border-radius: 8px;
    animation-name: jb3-post-target-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes jb3-post-target-animation {
    from {
        box-shadow: 0px 0px 0px #888888;
    }
    to {
        box-shadow: 0px 0px 5px #888888;
    }
}

.jb3-revisions {
    display: none;
}

.jb3-revisions-button {
    margin-left: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jb3-revise-button {
    margin-left: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jb3-post .jb3-revise-button {
    color: rgba(0, 0, 0, 0.0);
}

.jb3-post-is-mine:hover .jb3-revise-button {
    color: initial;
    cursor: pointer;
}

.jb3-post:nth-of-type(odd) {
    background-color: #FBFBFB;
}

.jb3-post-time {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    color: black;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid grey;
    display: inline-block;
    vertical-align: text-top;
}

.jb3-post-room {
    padding-right: 5px;
    padding-left: 5px;
    color: #25662D;
    font-weight: normal;
    display: inline-block;
    overflow-wrap: break-word;
    border-radius: 8px;
    border: 1px solid grey;
    vertical-align: text-top;
}

.jb3-post-nickname {
    padding-right: 5px;
    padding-left: 5px;
    color: #833;
    display: inline-block;
    overflow-wrap: break-word;
    border-radius: 8px;
    border: 1px solid grey;
    vertical-align: text-top;
}

.jb3-post-message {
    padding-right: 5px;
    padding-left: 5px;
    color: black;
    overflow-wrap: break-word;
    display: block;
    vertical-align: text-top;
}

.jb3-post-message a {
    font-weight: bold;
    color: #1690f3;
}

.jb3-post-message a:hover {
    text-decoration: underline;
}

.jb3-post-message a:visited {
    color: #0b78d0;
}

.jb3-post-message a .jb3-url-preview {
    display: none;
}

.jb3-post-message a:hover .jb3-url-preview {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    background-color: #FBFBFB;
    border: 1px solid black;
    padding: 4px;
    border-radius: 8px;
    width:100%;
    max-width: 180px;
}

.jb3-post-message a:hover .jb3-url-preview *{
        width:100%;
}

.jb3-post-message code {
    font-family: monospace;
    font-weight: inherit;
    color: #282921;
    background-color: #f0f3f7;
    border: 1px solid #dfe5ee;
    border-width: 0 0 1px 0;
    padding: 2px;
}

.jb3-spoiler {
    background-color: black;
    color: black;
}

.jb3-spoiler:hover {
    background-color: inherit;
}

.jb3-revealed-spoiler {
    background-color: inherit;
    color: red;
}

.jb3-cite {
    color: #5F7FBF;
    cursor: pointer; 
}

.jb3-cite-mine {
    font-weight: bold;
    color: #C00;
}

.jb3-cited-by-me .jb3-post-time {
    font-weight: bold;
    color: #C00;
}

.jb3-cited .jb3-post-time {
    font-weight: bold;
    color: #5F7FBF;
}

.jb3-highlight {
    background-color: #FFD202 !important;
}

.jb3-totoz {
    position: relative;
    font-weight: bold;
    color: #0A1;
}

.jb3-totoz img {
    display: none;
}

.jb3-totoz:hover img {
    display: inline;
    position: absolute;
    bottom: 100%;
}

.jb3-bigorno {
    border: 1px solid #F00;
}

.jb3-post-icon {
    background-repeat: no-repeat;
    vertical-align: text-top;
}

.jb3-post-is-reply-to-mine .jb3-post-icon {
    background-image: url("/assets/common/icons/post/reply-to-mine.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

.jb3-post-is-bigorno .jb3-post-icon {
    background-image: url("/assets/common/icons/post/bigorno.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

.jb3-post-is-mine .jb3-post-icon {
    background-image: url("/assets/common/icons/post/mine.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

/* desktop */
@media only screen and (min-width: 768px) {
    .jb3-post-time {
        border: none;
    }
    .jb3-post-nickname {
        width: 8em;
        border: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .jb3-post-room {
        width: 8em;
        border: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .jb3-post-message {
        display: inline;
    }
    .jb3-post-icon {
        width: 16px;
        height: 16px;
        display: inline-block;
    }
}