<!DOCTYPE html>
<html>
<head>
<title>jb3 frontend</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex,nofollow">
{{#if jb3UseWro}}
<link rel="stylesheet" type="text/css" href="/wro/jb3.css">
{{else}}
<link rel="stylesheet" type="text/css" href="jb3-common.css">
<link rel="stylesheet" type="text/css" href="jb3-frontend.css">
<link rel="stylesheet" type="text/css" href="colorbox/colorbox.css">
{{/if}}
<link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="c-text">
	<div id="jb3-layout">
		<div id="jb3-layout-horizontal">
			<div id="jb3-roster">
				<nav class="c-menu">
                        <div  class="c-menu__item">Moules</div>
                        <ul id="moules" class="c-list c-list--unstyled"></ul>
	                <div  class="c-menu__item"><a class="c-link" href="/rooms">Rooms</a></div>
            		<select id="jb3-controls-room"><option>{{jb3DefaultRoom}}</option></select>
					<div class="c-menu__item"> <a class="c-link" href="/archive" target="_blank">Archives</a></div>
				 	<div class="c-menu__item"> <a class="c-link" href="/fortune" target="_blank">Fortunes</a></div>
				</nav>
			</div>
			<div id="jb3-layout-vertical">
				<div id="jb3-posts-container">
					<div id="jb3-posts" class="jb3-posts"></div>
				</div>
				<div id="jb3-controls">
					<div id="jb3-controls-message-container" class="c-input-group">
						<input id="jb3-controls-message" class="c-field" type="text" spellcheck="true" >
						<button class="c-button c-button--primary">Post</button>
					</div>
					<div id="jb3-controls-nickname-container">
						<input id="jb3-controls-nickname" class="c-field" type="text">
					</div>
					<div id="jb3-post-popup">
						<div id="jb3-post-popup-content"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="jb3-hidden-posts"></div>
        {{!-- {{> partials/message-template}} --}}
        {{raw-include "partials/message-template"}}
        {{#if jb3UseWro}}
	<script src="/wro/jb3.js" defer></script>
	{{else}}
	<script src="/webjars/jquery/2.1.1/jquery.js" defer></script>
	<script src="/webjars/jquery-colorbox/1.6.3/jquery.colorbox.js" defer></script>
	<script src="/webjars/handlebars/4.0.2/handlebars.js" defer></script>
	<script src="/webjars/URI.js/1.14.1/URI.js" defer></script>
	<script src="/webjars/momentjs/2.8.3/moment.js" defer></script>
	<script src="/jb3-common.js" defer></script>
	<script src="/jb3.js" defer></script>
	{{/if}}
</body>
</html>
