<!DOCTYPE html>
<html>
<head>
<title>jb3 frontend</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex,nofollow">
{{> partials/css}}
<link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="c-text">
	<div id="jb3-layout">
		<div id="jb3-layout-horizontal">
			<div id="jb3-roster">
				<nav class="c-card">
                    <div  class="c-card__content c-card__content--divider c-heading">Moules</div>
                    <ul id="moules" class="c-card__content c-list c-list--unstyled"></ul>
	                <div  class="c-card__content c-card__content--divider ">Rooms&nbsp;<a class="c-link" href="/rooms">&#9881;</a></div>
            		<select id="jb3-controls-room" class="c-card__content"><option>{{jb3DefaultRoom}}</option></select>
					<div class="c-card__content"> <a class="c-link" href="/archive" target="_blank">Archives</a></div>
				 	<div class="c-card__content"> <a class="c-link" href="/fortune" target="_blank">Fortunes</a></div>
				</nav>
			</div>
			<div id="jb3-layout-vertical">
				<div id="jb3-posts-container">
					<div id="jb3-posts" class="jb3-posts"></div>
				</div>
				<div id="jb3-controls">
					<div id="jb3-controls-message-container" class="c-input-group">
						<input id="jb3-controls-message" class="c-field" type="text" spellcheck="true" >
						<button class="c-button c-button--primary">Post</button>
					</div>
					<div id="jb3-controls-nickname-container">
						<input id="jb3-controls-nickname" class="c-field" type="text">
					</div>
					<div id="jb3-post-popup">
						<div id="jb3-post-popup-content"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="jb3-hidden-posts"></div>
    {{raw-include "partials/message-template"}}
    {{> partials/js}}
</body>
</html>
