<!DOCTYPE html>
<html id="jb3-posts-container">
<head>
<title>jb3 archives</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex,nofollow">
{{> partials/css}}
<link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="c-text">
	{{> partials/header}}
	<main class="o-container o-container--large">
	<section class="u-letter-box--medium">
		<form id="search-form" class="c-fieldset">
			<input type="hidden" name="page" value="{{rq.page}}"> <input
				type="hidden" name="pageSize" value="{{rq.pageSize}}"> <label
				class="c-label"> Date: <input class="c-field c-field--label"
				type="date" name="date" value="{{rq.date}}">
			</label> <label class="c-label"> Room: <input class="c-field c-field--label"
				type="text" name="roomFilter" value="{{rq.roomFilter}}">
			</label> <label class="c-label"> Nickname: <input
				class="c-field c-field--label" type="text" name="nicknameFilter"
				value="{{rq.nicknameFilter}}">
			</label> <label class="c-label"> Message: <input
				class="c-field c-field--label" type="text" name="messageFilter"
				value="{{rq.messageFilter}}">
			</label>
			<div class="o-form-element">
				<input type="submit" class="c-button c-button--warning"
					value="Search">
			</div>
		</form>
		{{#if postsMV.posts }}
		<div class="jb3-posts">
			{{#each postsMV.posts}}
			<div id="{{this.id}}" class="jb3-post">
				<span class="jb3-post-time">{{format-datetime this.time}}</span> <span
					class="jb3-post-room">{{{this.cleanedRoom}}}</span> <span
					class="jb3-post-nickname">{{{this.cleanedNickname}}}</span> <span
					class="jb3-post-message">{{format-post-message this}}</span>
			</div>
			{{/each}}
		</div>
		<div class="c-pagination">
			{{#if postsMV.hasPrevious}}
			<div class="c-pagination__controls c-pagination__controls--backward">
				<button id="button-previous-page" class="c-pagination__control">‹</button>
			</div>
			{{/if}} {{#if postsMV.hasNext}}
			<div class="c-pagination__controls c-pagination__controls--forward">
				<button id="button-next-page" class="c-pagination__control">›</button>
			</div>
			{{/if}}
		</div>
		{{/if}}
	</section>
	</main>
	{{> partials/js}}
</body>
</html>