<!DOCTYPE html>
<html>
<head>
<title>jb3 frontend: rooms</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex,nofollow">
{{> partials/css}}
<link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="c-text">
	{{> partials/header}}
	<main class="o-container o-container--large">
	<section class="u-letter-box--super">
		<div
			class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
			<jb3-rooms-list class="o-grid__cell o-grid__cell--width-40"></jb3-rooms-list>
			<jb3-room-editor class="o-grid__cell o-grid__cell--width-60"></jb3-room-editor>
		</div>
	</section>
	</main>
	{{> partials/js}}
</body>
</html>
